$font-color: #333;
$header-color: #333;
$menu-link-color: $font-color;
$menu-link-hover: #fafafa;
$black: #333;
$white: #fff;
$gray: #ccc;
$gray-light: #f6f6f6;
$gray-dark: #999;
// $pink: #e55980;
$blue: #5980e5;
$space: 20px;
